.root {
  background-color: rgba(246, 248, 251, 1);
}

.createButton {
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}

#projectsList {
  color: rgba(164,168,181,1);
}

.text-black {
  color: black;
}

.text-small {
  font-size: 10 !important;
}

@media only screen and (max-width : 414px) {
  .createText {
    display: none;
  }
}