<app-header [title]="titleString"></app-header>
<div class="root">
  <div class="d-flex flex-column p-3">
    <div class="ml-auto bg-white createButton rounded border p-2">
      <span class="mr-2">Create New Project</span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgba(0,116,228,1)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
      </span>
    </div>
    <div class="mt-5 pt-5 mb-5 pb-5">
    <div class="d-flex align-items-center justify-content-center flex-column mt-5 pt-5 mb-5 pb-5">
        <strong>Welcome!</strong>
        <span class="text-center">You do not have any projects yet.<br>Let's get started and create a new project.</span>
      </div>
    </div>
  </div>
</div>