<div class="vh-100 vw-100 d-flex align-items-center justify-content-left p-5" id="root">
  <div class="bg-white d-flex flex-column rounded border p-5 m-5">
    <div class="d-flex align-items-center">
      <div>
        <svg viewBox="36.082 43.081 47.488 36.33" width="47.488" height="36.33">
          <path
            d="M 48.888 44.006 Q 52.09 42.157 55.292 44.006 L 64.897 49.551 Q 68.098 51.4 68.098 55.097 L 68.098 66.188 Q 68.098 69.885 64.897 71.733 L 55.292 77.279 Q 52.09 79.127 48.888 77.279 L 39.283 71.733 Q 36.082 69.885 36.082 66.188 L 36.082 55.097 Q 36.082 51.4 39.283 49.551 Z"
            data-bx-shape="n-gon 52.09 60.642 18.485 18.485 6 0.2 1@860e7d7a" style="fill: rgb(0, 116, 228);"></path>
          <path
            d="M 63.699 44.037 Q 67.011 42.125 70.323 44.037 L 80.258 49.773 Q 83.57 51.686 83.57 55.51 L 83.57 66.982 Q 83.57 70.807 80.258 72.719 L 70.323 78.455 Q 67.011 80.367 63.699 78.455 L 53.764 72.719 Q 50.452 70.807 50.452 66.982 L 50.452 55.51 Q 50.452 51.686 53.764 49.773 Z"
            data-bx-shape="n-gon 67.011 61.246 19.121 19.121 6 0.2 1@ac3a2671"
            style="fill: rgb(0, 233, 255); stroke-width: 3px; stroke: rgb(255, 255, 255);"></path>
        </svg>
      </div>
      <span class="ml-3">MLNet</span>
    </div>
    <div class="mt-5 mb-3">
      <span id="welcomeLbl">Welcome</span>
    </div>
    <div>
      <span>Member?</span><br>
      <div class="border rounded d-flex align-items-center justify-content-center p-1 mt-3">
        <img src="../../assets/icons/google-icon.svg" width="24" height="24">
        <span class="ml-2">Sign In with Google</span>
      </div>
    </div>
    <hr class="hr mt-5 mb-5">
    <div>
      <span>Not a member? Create an account.</span><br>
      <div class="border rounded d-flex align-items-center justify-content-center p-1 mt-3">
        <img src="../../assets/icons/google-icon.svg" width="24" height="24">
        <span class="ml-2">Sign In with Google</span>
      </div>
    </div>
  </div>
</div>