#root{
  background-image: url("../../assets/images/login-bg.png");
  background-size: cover;
}

#welcomeLbl {
  font-size: 40px;
  font-weight: bold;
}

.hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#00000010;
  height: 2px;
}