.sidebar {
  height: 100%;
  background-color: black;
  padding: 2rem;
}

.sideIcon {
  text-decoration: none;
  color: gray;
}
.sideIcon.active {
  color: white;
}
.sideIcon.active .routerIcon {
  background-color: rgba(0,233,255,1);
}

.round {
  border-radius: 12px;
}

@media only screen and (max-width : 414px) {
  .sidebar {
    padding: 0;
  }
  #logo {
    margin: none;
  }
  #companyName {
    display: none;
  }
  .routerLabel {
    display: none;
  }
  .routerIcon {
    margin: none;
  }
}