<div class="sidebar">
  <div class="d-flex justify-content-center">
    <div class="d-flex align-items-center">
      <div id="logo" class="p-2">
        <svg viewBox="36.082 43.081 52.488 36.33" width="52.488" height="36.33">
          <path
            d="M 48.888 44.006 Q 52.09 42.157 55.292 44.006 L 64.897 49.551 Q 68.098 51.4 68.098 55.097 L 68.098 66.188 Q 68.098 69.885 64.897 71.733 L 55.292 77.279 Q 52.09 79.127 48.888 77.279 L 39.283 71.733 Q 36.082 69.885 36.082 66.188 L 36.082 55.097 Q 36.082 51.4 39.283 49.551 Z"
            data-bx-shape="n-gon 52.09 60.642 18.485 18.485 6 0.2 1@860e7d7a" style="fill: rgb(0, 116, 228);"></path>
          <path
            d="M 68.699 44.037 Q 72.011 42.125 75.323 44.037 L 85.258 49.773 Q 88.57 51.686 88.57 55.51 L 88.57 66.982 Q 88.57 70.807 85.258 72.719 L 75.323 78.455 Q 72.011 80.367 68.699 78.455 L 58.764 72.719 Q 55.452 70.807 55.452 66.982 L 55.452 55.51 Q 55.452 51.686 58.764 49.773 Z"
            data-bx-shape="n-gon 72.011 61.246 19.121 19.121 6 0.2 1@81aca961"
            style="fill: rgb(0, 233, 255); stroke-width: 3px; stroke: rgb(0, 0, 0);"></path>
        </svg>
      </div>
      <span id="companyName" class="text-white mr-3" [ngStyle]="sidebarStyle">COMPANY</span>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <div id="sidebarToggle" class="mt-4 mb-4" (click)="toggleSidebar()">
      <img height="24px" width="24px" src="assets/icons/menu.svg">
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <div class="mt-5 pt-5">
      <div class="p-3">
        <a routerLink="/projects" routerLinkActive="active" class="sideIcon">
          <span class="routerIcon mr-3 p-2 round">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
              <line x1="8" y1="6" x2="21" y2="6"></line>
              <line x1="8" y1="12" x2="21" y2="12"></line>
              <line x1="8" y1="18" x2="21" y2="18"></line>
              <line x1="3" y1="6" x2="3.01" y2="6"></line>
              <line x1="3" y1="12" x2="3.01" y2="12"></line>
              <line x1="3" y1="18" x2="3.01" y2="18"></line>
            </svg>
          </span>
          <span class="routerLabel" [ngStyle]="sidebarStyle">My Projects</span>
        </a>
      </div>
      <div class="p-3">
        <a routerLink="/storage" routerLinkActive="active" class="sideIcon">
          <span class="routerIcon mr-3 p-2 round">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M19 16.9A5 5 0 0 0 18 7h-1.26a8 8 0 1 0-11.62 9"></path>
              <polyline points="13 11 9 17 15 17 11 23"></polyline>
            </svg>
          </span>
          <span class="routerLabel" [ngStyle]="sidebarStyle">Storage</span>
        </a>
      </div>
      <div class="p-3">
        <a routerLink="/models" routerLinkActive="active" class="sideIcon">
          <span class="routerIcon mr-3 p-2 round">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
              </path>
            </svg>
          </span>
          <span class="routerLabel" [ngStyle]="sidebarStyle">Models</span>
        </a>
      </div>
    </div>
  </div>
</div>